/* Example CSS for navigation bar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}
